In [5]:
import pandas as pd
frameworks = pd.read_csv('../data/frameworks.csv', index_col=0)
frameworks.head(3)

,framework,have used,want to use,language,theme,total posts,unanswered posts,unsolved posts,answered posts,solved posts
0,Angular.js,4286,2773,JavaScript,#F7DF1E,262592,37781,90975,224811,171617
1,ASP.NET,7206,3848,C#,#239120,370740,43590,112937,327150,257803
2,ASP.NET Core,9177,8894,C#,#239120,73556,13878,26751,59678,46805

In [54]:
fw_used = frameworks[['framework', 'have used']]
fw_want = frameworks[['framework', 'want to use']]

fw_used.insert(2, 'type', 'have used')
fw_want.insert(2, 'type', 'want to use')

fw_used.columns = ['framework', 'occurrence', 'type']
fw_want.columns = ['framework', 'occurrence', 'type']

fw_comb = pd.concat([fw_used, fw_want])

fw_comb.head(5)

      framework  occurrence       type
0    Angular.js        4286  have used
1       ASP.NET        7206  have used
2  ASP.NET Core        9177  have used
3       Angular        9850  have used
4        jQuery       13779  have used

In [57]:
from vega_datasets import data
source = data.population.url
source

'https://cdn.jsdelivr.net/npm/vega-datasets@v1.29.0/data/population.json'

     language    theme  occurrence
0  JavaScript  #F7DF1E          13
1          C#  #239120           3
2         PHP  #777BB4           3
3      Python  #3776AB           3
4      Elixir  #4B275F           1
5        Ruby  #CC342D           1
6       Scala  #DC322F           1